header {
    height: 20%;
    background-color: #778da9;

    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    color: white;
}

header #user-name {
    font-size: 30px;
    animation: fadeSlideUp 0.5s ease both;
    animation-delay: 0.1s;
}

header #personal-info {
    display: flex;
    font-size: 12px;
    gap: 20px;
    animation: fadeSlideUp 0.5s ease both;
    animation-delay: 0.2s;
}

.info-section {
    display: flex;
    align-items: center;
    gap: 5px;
}

.info-section img {
    height: 13px;
    width: 13px;
    color: white;
}
