#resume {
    --height: calc(100vh - 150px);

    /* This makes sure the "paper" or the resume if 8.5 x 11 */
    height: var(--height);
    width: calc(var(--height) * 8.5 / 11);

    position: sticky;
    top: 75px;
    background-color: white;

    display: flex;
    flex-direction: column;
}

header {
    height: 20%;
    background-color: #778da9;

    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    color: white;
}

header #user-name {
    font-size: 30px;
}

header #personal-info {
    display: flex;
    font-size: 12px;
    gap: 20px;
}

.info-section {
    display: flex;
    align-items: center;
    gap: 5px;
}

.info-section img {
    height: 13px;
    width: 13px;
    color: white;
}