#resume {
    --height: calc(100vh - 150px);

    /* This makes sure the "paper" or the resume if 8.5 x 11 */
    height: var(--height);
    width: calc(var(--height) * 8.5 / 11);

    position: sticky;
    top: 75px;
    background-color: white;
}
