input {
    border: none;
    border-radius: 10px;
    background-color: #f3f4f6;
    height: 40px;
    padding-left: 10px;
    font-size: 16px;
}

#resume-builder {
    flex: 1;
    height: 500vh;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#resume-builder > div {
    border-radius: 20px;
    background-color: white;
    padding: 20px 30px;
}

#resume-builder > #button-div {
    display: flex;
    padding: 5px 0px;
}

#button-div > div {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 10px 0;
    border-radius: 20px;
}

#button-div button {
    border: none;
    height: 18px;
    width: auto;
    font-size: 20px;
    font-weight: 350;
}

#delete-button {
    background-color: white;
    color: #e35c5c;
}

#load-example-button {
    background-color: #f3f4f6;
}

#personal-information {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#personal-information > div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
