input {
    border: none;
    border-radius: 10px;
    background-color: #f3f4f6;
    height: 40px;
    padding-left: 10px;
    font-size: 16px;
}

#resume-builder {
    flex: 1;
    height: 500vh;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#resume-builder > div {
    border-radius: 20px;
    background-color: white;
    padding: 20px 30px;
}
